.login-form {
    width: 320px;
    /* height: 250px; */

    border: 2px solid salmon;
    border-radius: 15px;

    padding: 20px;
}

.form-row {
    margin: 10px;
    text-align: center;
}

#send {
    width: 30%;
    cursor: pointer;
    transition: 0.2s;
}

#send:hover {
    box-shadow: 5px 5px 15px 5px #000000;
}